Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [7]:
Var_1 = ["Hello", 65, 7.89, (3, 9, "World", 42.35)]

In [4]:
print(Var_1)

['Hello', 65, 7.89, (3, 9, 'World', 42.35)]

In [4]:
type(Var_1[0])

str

In [8]:
type(Var_1[1])

int

In [8]:
type(Var_1[3])

tuple

In [9]:
type(Var_1[2])

float

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [‘DS', ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [10]:
var1 = ''
type(var1)

str

In [11]:
var2 = '[DS, ML, Python]'

In [12]:
type(var2)

str

In [14]:
var3 = ['DS', 'ML' , 'Python']

In [15]:
type(var3)

list

In [16]:
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

All the operators which are given in the question are all Arithmetic operators.
The first operator is { / }. It is used for number division. The output when { / } operator is used comes the remaining quotient of that 2 numbers.

In [24]:
a = 23
b = 4
c = a/b
print(c)

5.75

The second operator given is { % }. It is a modulus operator. The output when { % } operator is used comes the remaining remainder of that 2 numbers.

In [23]:
a = 23
b = 4
c = a%b
print(c)

3

The third operator given is { // }. It is a Floor division. It rounds down the result of a division operation to the nearest integer

In [25]:
a = 23
b = 4
c = a//b
print(c)

5

The Fourth operator given is { ** }. It is a Exponentiation operator. Exponentiation is the process of raising a number to a power whatever needed.

In [31]:
print(4**3)

64

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [3]:
a = [3, 'vedant', 6.85, 5.98, True, 4, 7+9j, "Avika", 9+4j, 85]
for i in a:
    print(i,"-", type(i))

3 - <class 'int'>
vedant - <class 'str'>
6.85 - <class 'float'>
5.98 - <class 'float'>
True - <class 'bool'>
4 - <class 'int'>
(7+9j) - <class 'complex'>
Avika - <class 'str'>
(9+4j) - <class 'complex'>
85 - <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [15]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0
while  A % B == 0:
    A = A / B
    count += 1

print("Number A can be divided by number B", count, "times.")

Enter number A:  66
Enter number B:  3

Number A can be divided by number B 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [2]:
L = list(range(25))
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [5]:
for i in L:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

An immutable data type means that its value cannot be changed after it is created. If any modification is performed on an immutable object, a new object is created with the modified value.Examples of immutable data types in Python include integers, floats, strings, and tuples.
On the other hand, a mutable data type is one that can be modified after it is created. Any changes made to a mutable object affect the object itself. Examples of mutable data types in Python include lists, dictionaries, and sets.

In [6]:
#Example for mutable
my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]

my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

my_list[1] = 5
print(my_list)  # Output: [1, 5, 3, 4]

[1, 2, 3]
[1, 2, 3, 4]
[1, 5, 3, 4]

In [7]:
# Example of immutable
x = 5
print(x)  # Output: 5

x = x + 1
print(x)  # Output: 6

5
6